@model HomeModel

<div class="container contact-container">
    <div class="info-container">
        <h4>
            Du bist recht herzlich zu Gudbelldons Kursen und sonstigen Veranstaltungen eingeladen!
            <br />
            <small>
                Ein Kurs dauert rund drei Stunden und macht inkl. Anleitung und Verpflegung
                aber exkl. Material €9,- aus.
            </small>
        </h4>
    </div>
    <div class="bricklayer" id="bricklayer">
        @foreach (var e in Model.Events)
        {
            <div class="card">
                @if (e.ImageUrl != null)
                {
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="@e.ImageUrl">
                    </div>
                }
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        @e.Title
                        @if (e.Description != null)
                        {
                            <i class="material-icons right">more_vert</i>
                        }
                    </span>
                    <p>@e.Subtitle</p>
                    <p>
                        @e.Date.ToString("dd.MM.yyyy")

                        @if (e.End != null)
                        {
                            <span>@e.Start.ToString("hh\\:mm") bis ca. @e.End.Value.ToString("hh\\:mm")</span>
                        }
                        else
                        {
                            <span>ab @e.Start.ToString("hh\\:mm")</span>
                        }
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                    <p>@e.Description</p>
                </div>
            </div>
        }


    </div>
    @if (!Model.Events.Any())
    {
        <div class="card-panel center-align">Aktuell sind leider keine Kurse geplant - im Herbst geht's wieder los!</div>
    }

</div>
